.Ingresar {
  text-align: center;
  background-color: black;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

.texto{
  color: white;
  padding-bottom: 5%;

}

.ingresar{
  padding-bottom: 5%;
}
.ingresar_codigo{
  padding-bottom: 2%;
}

.button{
  background-color: rgb(226, 43, 101);
  color: white;
  border-radius: 10px;
  border-color: rgb(226, 43, 101);
}

.text_no{
  padding-bottom: 0.5%;
  color: white;

}

